/* your custom css */
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

body {
    font-family: "Work Sans";
}

.button {
    justify-content: center;
    display: inline-flex;
    font-weight: 600;
    text-transform: uppercase;
    align-items: center;
    white-space: nowrap;
}

.button > img {
    height: 18px;
    margin-right: 12px;
}

.button:hover {
    border-color: rgba(3,100,188,1);
    color: rgba(3,100,188,1);
    background: none;
}

.cta-button {
    font-size: 15px;
    padding: 16px 18px 16px;
    background: white;
    border: none;
    border-radius: 3px;
}

.cta-button:hover {
    background: #F0F0F0;
}

.promoRow {
    display: flex;
    width: 100%;
    justify-content: center;
}

.promoRow a {
    min-width: 160px;
}

.promoRow > *:not(:last-child) {
    margin-right: 24px;
}


.homeContainer {
    background: linear-gradient(50deg, rgba(3,100,188,1) 0%, rgba(143,50,164,1) 100%);
    overflow: hidden;
    min-height: 650px;
}

.tagline {
    color: #FFFFFF;
    font-weight: 200;
    font-size: 50px;
    margin-top: 12px;
    margin-bottom: 42px;
    display: block;
    padding: 12px;
}

a {
    /*color: #857A7A;*/
    color: #717171;
}
